<!DOCTYPE html>
<html>
<head>
    <title>Dencity Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Dencity</a>
        <ul class="navigation">
            <li><a href="/properties">Properties</a></li>
            <li><a href="/about" style="color:#0E8561">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="about-container">
        <div class="about-content">
            <h3>Mission Statement</h3> 
            
            <h3>Project Description</h3>
            
            <h3>Middle Housing Description</h3>
            
            <h3>Legal Disclaimers</h3>
        </div>
    </div>
    <div class="team">
        <h2>The Team</h2>
        <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
        <div class="team-grid">
            <div class="team-member">
                <a href="https://www.linkedin.com/in/masonlgreen/" target="_blank">
                    <img src="{{ url_for('static', filename='img/profile1.jpg') }}" alt="Mason Green Profile">
                </a>
                <h3>Mason Green</h3>
                <p class="role">Project Manager</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/masonlgreen/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/MasonGreen365" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:magreen9@uw.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="team-member">
                <a href="https://www.linkedin.com/in/anumita-ghosh-72b0941a8/" target="_blank">
                    <img src="{{ url_for('static', filename='img/profile2.jpg') }}" alt="Anumita Ghosh Profile">
                </a>
                <h3>Anumita Ghosh</h3>
                <p class="role">Front-End Developer</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/anumita-ghosh-72b0941a8/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="mailto:aghosh7@uw.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="team-member">
                <a href="https://www.linkedin.com/in/etzwang/" target="_blank">
                    <img src="{{ url_for('static', filename='img/profile3.jpg') }}" alt="Ethan Wang Profile">
                </a>
                <h3>Ethan Wang</h3>
                <p class="role">Data Scientist</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/etzwang/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="mailto:etzwang@uw.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="team-member">
                <a href="https://www.linkedin.com/in/tyokazaki/" target="_blank">
                    <img src="{{ url_for('static', filename='img/profile4.jpg') }}" alt="Ty Okazaki Profile">
                </a>
                <h3>Ty Okazaki</h3>
                <p class="role">Full-Stack Developer</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/tyokazaki/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/tokazakiuw" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:tokazaki@uw.edu"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.tyokazaki.com/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <a href="/">Landing</a>
            <a href="/properties">Properties</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="legal-info">
            <p><strong>&copy; 2024 Dencity. All rights reserved.</strong></p>
            <p>Legal Disclaimer: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </footer>
</body>
</html>
