<!DOCTYPE html>
<html>
<head>
    <title>Dencity Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Dencity</a>
        <ul class="navigation">
            <li><a href="/properties">Properties</a></li>
            <li><a href="/about" style="color:#0E8561">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="team">
        <h2>Dencity Staff</h2>
        <p>The team at Dencity are working professionals with versitale skills to manage nuanced housing and technology problems, delivering promising solutions.</p>
        <div class="team-grid">
            <div class="team-member">
                <a href="https://www.linkedin.com/in/masonlgreen/" target="_blank">
                    <img src="{{ url_for('static', filename='img/team-picture/mason-green.jpg') }}" alt="Mason Green Profile">
                </a>
                <h3>Mason Green</h3>
                <p class="role">Project Manager</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis  Nunc vulputate libero et velit interdum, ac aliquet odio mattis..</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/masonlgreen/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/MasonGreen365" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:magreen9@uw.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="team-member">
                <a href="https://www.linkedin.com/in/anumita-ghosh-72b0941a8/" target="_blank">
                    <img src="{{ url_for('static', filename='img/team-picture/anumita-ghosh.jpg') }}" alt="Anumita Ghosh Profile">
                </a>
                <h3>Anumita Ghosh</h3>
                <p class="role">Front-End Developer</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.  Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/anumita-ghosh-72b0941a8/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="mailto:aghosh7@uw.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="team-member">
                <a href="https://www.linkedin.com/in/etzwang/" target="_blank">
                    <img src="{{ url_for('static', filename='img/team-picture/ethan-wang.jpg') }}" alt="Ethan Wang Profile">
                </a>
                <h3>Ethan Wang</h3>
                <p class="role">Data Scientist</p>
                <p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.  Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/etzwang/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="mailto:etzwang@uw.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="team-member">
                <a href="https://www.linkedin.com/in/tyokazaki/" target="_blank">
                    <img src="{{ url_for('static', filename='img/team-picture/ty-okazaki.jpg') }}" alt="Ty Okazaki Profile">
                </a>
                <h3>Ty Okazaki</h3>
                <p class="role">Full-Stack Developer</p>
                <p>Fourth-year student at the University of Washington studying Informatics and Economics. Passionate about software development and crafting tools to empower others.</p>
                <div class="links">
                    <a href="https://www.linkedin.com/in/tyokazaki/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/tokazakiuw" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:tokazaki@uw.edu"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.tyokazaki.com/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-container">
        <section class="about-content">
            <h3>Mission Statement</h3>
            <p class="mission-text">
                Dencity aims to revolutionize urban housing development by providing an intuitive web platform for homeowners and developers to explore, plan, and propose middle-housing projects. Our mission is to empower communities to increase housing density while enhancing property value and sustainability.
            </p>
            <div class="value-props">
                <div class="value-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/test.png') }}" alt="Image">
                        <h3 class="image-caption"> Homeowners</h3>
                    </div>
                    <p>For prospective homeowners, Dencity offers a gateway to affordable housing solutions. Our platform enables them to explore redevelopment opportunities, transforming single-family homes into modern, multi-unit properties. This not only increases housing options but also enhances property values and community vibrancy. For current homeowners, Dencity serves as a catalyst for maximizing the potential of their properties. By facilitating informed decision-making and access to financial incentives, we empower them to unlock the hidden value of their assets while contributing to sustainable urban development.</p>
                </div>
                <div class="value-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/tile1.png') }}" alt="Image">
                        <h3 class="image-caption"> Developers</h3>
                    </div>
                    <p>Developers benefit from Dencity's streamlined approach to project planning and proposal submission. Our platform provides invaluable insights into market demand, regulatory compliance, and design feasibility, enabling developers to identify lucrative opportunities and navigate complex approval processes with ease. By fostering collaboration between developers and homeowners, Dencity catalyzes the creation of innovative, inclusive housing developments that meet the evolving needs of urban communities.</p>
                </div>
                <div class="value-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/tile2.png') }}" alt="Image">
                        <h3 class="image-caption"> Designers</h3>
                    </div>
                    <p>Designers play a pivotal role in shaping the future of urban landscapes, and Dencity offers them a platform to showcase their creativity and expertise. Our collaborative tools empower designers to conceptualize and visualize middle-housing projects, leveraging advanced data visualization tools and interactive features to bring their ideas to life. By fostering a community of design excellence, Dencity promotes innovation and sustainability in urban development.</p>
                </div>
                <div class="value-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/tile3.png') }}" alt="Image">
                        <h3 class="image-caption"> Policymakers</h3>
                    </div>
                    <p>Policymakers rely on accurate data and insights to inform strategic decisions about housing policy and urban planning. Dencity serves as a valuable resource for policymakers, providing real-time updates on housing trends, regulatory changes, and community preferences. By leveraging government datasets and industry expertise, we enable policymakers to craft effective policies that promote equitable access to housing, support economic growth, and foster vibrant, resilient communities. In essence, Dencity embodies a shared vision of urban living that is inclusive, sustainable, and responsive to the needs of all stakeholders. Through collaboration and innovation, we strive to build a brighter future where every community thrives.</p>
                </div>
                <div class="value-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/tile4.png') }}" alt="Image">
                        <h3 class="image-caption"> Investors</h3>
                    </div>
                    <p>Investors seek opportunities that offer both financial returns and social impact. Dencity provides a unique platform for investors to support sustainable urban development while generating attractive returns. By connecting investors with high-potential projects and facilitating due diligence processes, we enable them to make informed investment decisions that align with their values and objectives. Through our commitment to transparency, accountability, and social responsibility, Dencity creates a win-win scenario for investors, developers, and communities alike.</p>
                </div> 
                <div class="value-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/tile5.png') }}" alt="Image">
                        <h3 class="image-caption">Communities</h3>
                    </div>
                    <p>At the heart of Dencity lies a commitment to community empowerment and engagement. We believe that successful urban development is rooted in collaboration and inclusivity. Through community outreach initiatives, educational resources, and participatory planning processes, Dencity fosters meaningful dialogue and partnership between residents, local organizations, and stakeholders. By empowering communities to actively shape their built environment, Dencity creates a sense of ownership, pride, and belonging that transcends individual projects and catalyzes positive social change. Together, we build more than homes – we build thriving, resilient communities where everyone has the opportunity to flourish.</p>
                </div>
            </div>
        </section>
        <section class="about-content">
            <h3>Project Description</h3>
            <p>Dencity is a comprehensive web application designed to assist homeowners and developers in the redevelopment of single-family homes into middle-housing properties. Leveraging sophisticated search capabilities and interactive property maps, users can easily identify eligible parcels, explore potential building designs, and submit proposals to regulatory authorities. The platform also integrates real-time updates on regulatory information and financial programs to facilitate informed decision-making.</p>
        </section>
        <section class="about-content">
            <h3>Legal Disclaimer</h3>
            <p>This document serves as a preliminary outline of the Dencity project scope and requirements and is subject to change based on further development and regulatory considerations. The information provided herein is for informational purposes only and does not constitute legal, financial, or professional advice. Team Dencity does not warrant the accuracy, completeness, or reliability of any information presented in this document. Users are advised to conduct their own research and consult with relevant experts before making any decisions or taking any actions based on the content provided. Team Dencity disclaims any liability for damages or losses arising from the use of or reliance on the information contained in this document.</p>
        </section>
    </div>
    <div class="resource-grid">
        <h2 class="grid-title">Project Documentation</h2>
        <div class="resource">
            <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Section Image">
            <!-- REFERENCES TO PRODUCTS DOCUMENTS AND TO NEW PDF -->
            <h3>PR-FAQ</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="resource">
            <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Section Image">
            <h3>Threat Model</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="resource">
            <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Section Image">
            <h3>Personas</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="resource">
            <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Section Image">
            <h3>Design Documents</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="resource">
            <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Section Image">
            <h3>Architectural Diagrams</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="resource">
            <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Section Image">
            <h3>List of Requirements</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <a href="/">Landing</a>
            <a href="/properties">Properties</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="legal-info">
            <p><strong>&copy; 2024 Dencity. All rights reserved.</strong></p>
            <p>Legal Disclaimer: The information presented herein by Team Dencity is intended solely for informational purposes, serving as a preliminary guide and not constituting legal, financial, or professional advice.</p>
        </div>
    </footer>
</body>
</html>
