<!DOCTYPE html>
<html>
<head>
    <title>Dencity Map</title>
    
    <!-- Load Leaflet from CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet"></script>

    <!-- Esri Leaflet Geocoder -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css"
    />
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Dencity</a>
        <ul class="navigation">
            <li><a href="/properties" style="color:#0E8561">Properties</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="map-container">
        <div class="filters">
        </div>
        <div id="map"></div>
    </div>
    <script src="{{ url_for('static', filename='js/properties.js') }}"></script>
</body>
<footer class="footer">
    <div class="footer-content">
        <a href="/">Landing</a>
        <a href="/properties">Properties</a>
        <a href="/about">About</a>
        <a href="/resources">Resources</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="legal-info">
        <p><strong>&copy; 2024 Dencity. All rights reserved.</strong></p>
        <p>Legal Disclaimer: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</footer>
</html>