/* reserve this file for css styling that is GLOBAL */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  padding: .5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
